<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tracker</title>
  <!-- ======= Styles ====== -->
  <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="logo-apple"></ion-icon>
            </span>
            <span class="title">
              <%= user.firstName %>
                <%= user.lastName %>
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <span class="title">Request</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="chatbubble-outline"></ion-icon>
            </span>
            <span class="title">Messages</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="help-outline"></ion-icon>
            </span>
            <span class="title">Help</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="settings-outline"></ion-icon>
            </span>
            <span class="title">Settings</span>
          </a>
        </li>
        <!-- 
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </span>
            <span class="title">Password</span>
          </a>
        </li> -->

        <li>
          <a href="/logout">
            <span class="icon">
              <ion-icon name="log-out-outline"></ion-icon>
            </span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div class="search">
          <label>
            <input type="text" placeholder="Search here">
            <ion-icon name="search-outline"></ion-icon>
          </label>
        </div>

        <div class="user">
          <img src="/img/customer01.jpg" alt="">
        </div>
      </div>

      <!-- ======================= Cards ================== -->
      <div class="cardBox">
        <div class="card">
          <div>
            <div class="numbers"><%= dailyRequestCount %></div>
            <div class="cardName">Daily Request</div>
          </div>

          <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </div>

        <div class="card">
          <div>
            <div class="req numbers">new Request</div>
            <form action="/submit" method="post">
              <input type="text" name="urlRequest" id="inputField" class="request" placeholder="Make new request"
                <%=dailyRequestCount <=0 ? 'disabled' : '' %>>
              <button type="submit" class="sent" id="request" <%=dailyRequestCount <=0 ? 'class="disabled"' : '' %>
                <%= dailyRequestCount <=0 ? 'disabled' : '' %>>Request
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>Recent Request</h2>
            <a href="#" class="btn">View All</a>
          </div>
          <table>
            <thead>
              <tr>
                <td>Name</td>
                <td>Status</td>
              </tr>
            </thead>
            <tbody>
              <% user.requests.forEach(request=> { %>
                <tr>
                  <td>
                    <% if (request.urlRequest) { %>
                      <a href="<%= request.urlRequest %>" target="_blank">
                        <%= request.urlRequest %>
                      </a>
                      <% } else { %>
                        <span>no request used today</span>
                        <% } %>
                  </td>
                  <td>
                    <% if (request.old_urlRequest) { %>
                      <a href="<%= request.old_urlRequest %>" target="_blank">
                        <span class="status delivered">Download</span>
                      </a>
                      <% } else { %>
                        <span class="status pending">Pending</span>
                        <% } %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="/js/dashboard.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const requestButton = document.getElementById('request');
        const inputField = document.getElementById('inputField');

        if (<%= dailyRequestCount %> <= 0) {
        requestButton.disabled = true;
        inputField.disabled = true;
        requestButton.classList.add('disabled');
      }
        });
    </script>
</body>

</html>